
<!--<div class="col-lg-3 col-md-4 col-xs-6 thumb">
  <div class="thumbnail">-->
<div class="item">
  <div class="well">
    <h3 class="title"><%= book.title %></h3>
    <img src="<%= book.cover.url(:medium) %>" alt="'<%= book.title %>' Cover">
    <p class="caption">
      <a href="#" class="btn btn-primary">Read Now!</a> <a href="#" class="btn btn-default">More Info</a>
    </p>
  </div>
</div>
