      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"><%= book.title %></h3>
      </div>
      <div class="modal-body">
        <img class="pull-left img-responsive cover" src="<%= book.cover.url(:medium) %>" alt="'<%= book.title %>' Cover">
        <%= book.description.gsub("\n","<br>").html_safe %>
        <span class="clearfix"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
