  <p id="notice"><%= notice %></p>

  <!-- Jumbotron Header
  <header class="jumbotron hero-spacer">
    <h1>A Warm Welcome!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <p><a class="btn btn-primary btn-large">Call to action!</a></p>
  </header>
  <hr>
  -->

  <!-- Modal Box -->
  <div id="bookModal" class="modal fade text-justify" role="dialog" aria-labelledby="bookModal" aria-hidden="true">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div id="bookModal-content" class="modal-content">
      </div>
    </div>
  </div>
  <!-- Modal Box -->

  <!-- Books -->
  <div class="row text-center">
    <% @books.each do |book| %>
      <%= render partial: "book", locals: { book: book } %>
    <% end %>
  </div>
  <!-- Books -->
<br>

<%= paginate @books %>

<%= link_to 'New Book', new_book_path %>
