  <p id="notice"><%= notice %></p>

  <!-- Jumbotron Header
  <header class="jumbotron hero-spacer">
    <h1>A Warm Welcome!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <p><a class="btn btn-primary btn-large">Call to action!</a></p>
  </header>
  <hr>
  -->

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Latest Books</h3>
    </div>
  </div>
  <!-- Title -->

  <!-- Books -->
  <div class="row text-center">
    <% @books.each do |book| %>
      <%= render partial: "book", locals: { book: book } %>
    <% end %>
  </div>
  <!-- Books -->

<br>

<%= link_to 'New Book', new_book_path %>
